.App {
  text-align: center;
  margin-top: 50px;
}

.Rectangle-vertical {
  height: 80px;
  width: 20px;
  background: red;
  /* border:1px solid #000 */
}

.Rectangle-horizontal {
  height: 20px;
  width: 80px;
  background: red;
  position: absolute;
  
  /* margin-bottom: 35px */
  /* border:1px solid #000 */
}
.space {
  margin-left: 10px;
  margin-right: 10px;
  margin: auto;
  display:inline;
  /* border:1px solid #000 */
}
.row {
  display:inline-block
}
.left {
  float: left;
  position: absolute;
  
}
li {
  display: inline-block;
}
.right {
  right: 0;
  position: absolute;
}

.rectangle {
  width: 80px;
  height: 60px;
  margin-left: 50px;
  /* display:inline-block; */
  position: relative;
}
.border-ver {
  border: 2px solid red;
  border-radius: 50px 20px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
